groq
streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-experimental
sentence-transformers
faiss-cpu
tiktoken
unstructured
PyMuPDF
python-docx
selenium
requests
beautifulsoup4
googlesearch-python
python-dotenv
faster-whisper
moviepy
numpy
deep-translator
imageio-ffmpeg
ffmpeg-python