streamlit
langchain
langchain-core
langchain-google-genai
langchain-openai
langchain-experimental
python-dotenv
faiss-cpu
tiktoken
sentence-transformers
unstructured
selenium
PyMuPDF
python-docx
googlesearch-python
